*{
  margin: 0px;
  padding: 0px;
}

.App{
  background-color: #FDFFFC;
  min-height: 100vh;
}

.customBorder{
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.customBorderNav{
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.loaderWrapper{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}